* {
    margin: 0;
    padding: 0;
    background-color:rgb(255, 255, 255);
    font-family:"Verdana", "Times New Roman";
    line-height: 150%;
 }

 :root {
    --nav_bg: rgb(136, 158, 146);
  }

 .emphasize {
             background-color: var(--nav_bg);
 }
 
 nav {
    background: var(--nav_bg);
    display: inline;
    font-size: 0.75em;
    /*float:right;
    padding-top: 1%;*/
}

 .navtext {
    background-color: var(--nav_bg);
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-weight: normal;
    margin-left: 20px;
}

.navtext:hover {
    color:rgb(59, 8, 8);
}

h1 {
    padding-left: 3%;
    position: sticky; top: 0;
}

p {
    max-width: 700px;
}


